:root {
  --purple: rgb(117, 38, 177);
}

body {font-family: "Barlow Condensed";
margin: 0%;
text-align: center;}


header {overflow: hidden;
  text-align: center;
  background-color: var(--purple);
  color: white;
}

h1 {font-family: "Aliens & cows";
font-weight: 200;
font-size: 3.5em;
margin: 0%;}

a {text-decoration: none;
color: white;}

.upload {font-size: 1.6em;
  font-weight: 100;}

.upimg {width: 15%;}
