:root {
  --purple: rgb(117, 38, 177);
}

/* ---------- General styling ---------- */

body {
  font-family: "Barlow Condensed", arial;
  font-size: 1.2em;
  margin: 0%;
  text-align: center;
}

h1 {
  font-family: "Aliens & cows";
  font-weight: 200;
  font-size: 3.5em;
  margin: 0%;
}

h2 {
  margin: 3%;
}

a {
  text-decoration: none;
  color: grey;
}

/* ---------- topbar styling ---------- */

.topbar {
  overflow: hidden;
  text-align: center;
  background-color: var(--purple);
  color: white;
}

/* ---------- page styling ---------- */

.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
}

/* ---------- Upload page styling ---------- */

.sektioner {
  font-size: 1.4em;
  font-weight: 100;
  padding: 2%;
}

.upimg {
  width: 15%;
}

/* ---------- animations ---------- */

/* fade in */

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

/*bootstrap*/

#carouselExampleControls {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


/* popover*/

.modal {display: block;

}

div {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  padding: 5%;
  text-align: center;
  border-radius: 10px;
}

canvas {
  padding: 5%;
  background-color: #3a2f3a4a;
  border-radius: 10px;
}

h2 {
  margin: 3%;
}

.upload {
  font-size: 1.4em;
  font-weight: 100;
  padding: 2%;
}

.upimg {
  width: 15%;
}

:root {
  --purple: rgb(117, 38, 177);
}

input{width: 100%;
}


button {
  border-radius: 5px;
  background-color: grey;
  color: white;
  padding: 5px;
}

#tilbage{margin-right: 90%;
  float: left;
}
.clearfix{
  overflow: auto;
}
